<section id="about-me" class="section-container">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
  <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
    Hi there!, I'm Nicholas Wilson, your go-to Data Scientist, all about making tech super helpful! I'm really keen on 
    boosting projects and making work smoother for everyone, always aiming to bring fresh, effective solutions to the tech world. 
    My passion lies in transforming complex data into actionable insights that drive meaningful business decisions.
  </p>
  <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
    I am much equipped at high-level admin work – think perfectly managed schedules, prepping for big meetings, and 
    handling sensitive info like a pro. I guarantee enthusiasm in work and fulfilling my projects with precision and excellence.
  </p>
</section>