<section id="skills" class="section-container">
    <div class="mt-12" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="text-2xl font-semibold mb-4">Skills</h3>

        <h4 class="text-xl font-semibold mb-2">Learning Data Science</h4>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
            @for (dataScience of dataSciences; track dataScience) {
            <div class="p-4 rounded-lg shadow-md text-center flex flex-col items-center">
                <img [src]="dataScience.logo" [alt]="dataScience.name"
                    class="h-10 w-10 mb-2 transition-transform duration-300 transform hover:scale-110"
                    [class.invert]="dataScience?.isInvertLogo">
                <span class="font-semibold text-lightest-slate">{{ dataScience.name }}</span>
            </div>
            }
        </div>

        <h4 class="text-xl font-semibold mb-2 mt-8">Work Experience</h4>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
            @for (programming of programmings; track programming) {
            <div class="p-4 rounded-lg shadow-md text-center flex flex-col items-center">
                <img [src]="programming.logo" [alt]="programming.name"
                    class="h-10 w-10 mb-2 transition-transform duration-300 transform hover:scale-110"
                    [class.invert]="programming?.isInvertLogo">
                <span class="font-semibold text-lightest-slate">{{ programming.name }}</span>
            </div>
            }
        </div>

        <h4 class="text-xl font-semibold mb-2 mt-8">Basic Data Tools</h4>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
            @for (database of databases; track database) {
            <div class="p-4 rounded-lg shadow-md text-center flex flex-col items-center">
                <img [src]="database.logo" [alt]="database.name"
                    class="h-10 w-10 mb-2 transition-transform duration-300 transform hover:scale-110"
                    [class.invert]="database?.isInvertLogo">
                <span class="font-semibold text-lightest-slate">{{ database.name }}</span>
            </div>
            }
        </div>

        <h4 class="text-xl font-semibold mb-2 mt-8">Administrative Skills</h4>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
            @for (admin of adminTools; track admin) {
            <div class="p-4 rounded-lg shadow-md text-center flex flex-col items-center">
                <img [src]="admin.logo" [alt]="admin.name"
                    class="h-10 w-10 mb-2  transition-transform duration-300 transform hover:scale-110"
                    [class.invert]="admin?.isInvertLogo">
                <span class="font-semibold text-lightest-slate">{{ admin.name }}</span>
            </div>
            }
        </div>
    </div>
</section>